/*-- Common Style --*/
*, *::after, *::before {-webkit-box-sizing: border-box;box-sizing: border-box; }
html, body {height: 100%; }
body {background-color: #ffffff;font-size: 14px;font-style: normal;font-weight: normal;visibility: visible;font-family: 'Roboto', sans-serif;color: #666666; }
h1, h2, h3, h4, h5, h6 {color: #404040;font-family: 'Montserrat', sans-serif;font-weight: 400;margin-top: 0; }
h1 {font-size: 36px;line-height: 42px; }
h2 {font-size: 30px;line-height: 36px; }
h3 {font-size: 24px;line-height: 30px; }
h4 {font-size: 18px;line-height: 24px; }
h5 {font-size: 14px;line-height: 18px; }
h6 {font-size: 12px;line-height: 14px; }
p:last-child {margin-bottom: 0; }
a, button {color: inherit;display: inline-block;line-height: inherit;text-decoration: none;cursor: pointer; }
a, button, img, input, span {-webkit-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s; }
*:focus {outline: none !important; }
a:focus {color: inherit;outline: none;text-decoration: none; }
a:hover {text-decoration: none;color: #03a9f5; }
button, input[type="submit"] {cursor: pointer; }
ul {list-style: outside none none;margin: 0;padding: 0; }

/*--- Common Classes -----------------------------------------*/
.fix {overflow: hidden; }
.hidden {display: none; }
.clear {clear: both; }
.section {float: left;width: 100%; }
.capitalize {text-transform: capitalize; }
.uppercase {text-transform: uppercase; }
.bg-icon {background-image: url(../images/icon.png); background-repeat: no-repeat; display: inline-block;}

/*-- - Custom Row -----------------------------------------*/
.row-10 {margin-left: -10px;margin-right: -10px; }
.row-10 > [class*="col"] {padding-left: 10px;padding-right: 10px; }

/*--- Margin & Padding -----------------------------------------*/

/*-- Margin Top --*/
.mt-5 {margin-top: 5px; }
.mt-10 {margin-top: 10px; }
.mt-15 {margin-top: 15px; }
.mt-20 {margin-top: 20px; }
.mt-25 {margin-top: 25px; }
.mt-30 {margin-top: 30px; }
.mt-35 {margin-top: 35px; }
.mt-40 {margin-top: 40px; }
.mt-45 {margin-top: 45px; }
.mt-50 {margin-top: 50px; }
.mt-55 {margin-top: 55px; }
.mt-60 {margin-top: 60px; }
.mt-65 {margin-top: 65px; }
.mt-70 {margin-top: 70px; }
.mt-75 {margin-top: 75px; }
.mt-80 {margin-top: 80px; }

/*-- Margin Bottom --*/
.mb-5 {margin-bottom: 5px; }
.mb-10 {margin-bottom: 10px; }
.mb-15 {margin-bottom: 15px; }
.mb-20 {margin-bottom: 20px; }
.mb-25 {margin-bottom: 25px; }
.mb-30 {margin-bottom: 30px; }
.mb-35 {margin-bottom: 35px; }
.mb-40 {margin-bottom: 40px; }
.mb-45 {margin-bottom: 45px; }
.mb-50 {margin-bottom: 50px; }
.mb-55 {margin-bottom: 55px; }
.mb-60 {margin-bottom: 60px; }
.mb-65 {margin-bottom: 65px; }
.mb-70 {margin-bottom: 70px; }
.mb-75 {margin-bottom: 75px; }
.mb-80 {margin-bottom: 80px; }

/*-- Margin Left --*/
.ml-5 {margin-left: 5px; }
.ml-10 {margin-left: 10px; }
.ml-15 {margin-left: 15px; }
.ml-20 {margin-left: 20px; }
.ml-25 {margin-left: 25px; }
.ml-30 {margin-left: 30px; }
.ml-35 {margin-left: 35px; }
.ml-40 {margin-left: 40px; }
.ml-45 {margin-left: 45px; }
.ml-50 {margin-left: 50px; }
.ml-55 {margin-left: 55px; }
.ml-60 {margin-left: 60px; }
.ml-65 {margin-left: 65px; }
.ml-70 {margin-left: 70px; }
.ml-75 {margin-left: 75px; }
.ml-80 {margin-left: 80px; }


/*-- Margin Right --*/
.mr-5 {margin-right: 5px; }
.mr-10 {margin-right: 10px; }
.mr-15 {margin-right: 15px; }
.mr-20 {margin-right: 20px; }
.mr-25 {margin-right: 25px; }
.mr-30 {margin-right: 30px; }
.mr-35 {margin-right: 35px; }
.mr-40 {margin-right: 40px; }
.mr-45 {margin-right: 45px; }
.mr-50 {margin-right: 50px; }
.mr-55 {margin-right: 55px; }
.mr-60 {margin-right: 60px; }
.mr-65 {margin-right: 65px; }
.mr-70 {margin-right: 70px; }
.mr-75 {margin-right: 75px; }
.mr-80 {margin-right: 80px; }


/*-- Padding Top --*/
.pt-6 {padding-top: 6px; }
.pt-10 {padding-top: 10px; }
.pt-15 {padding-top: 15px; }
.pt-20 {padding-top: 20px; }
.pt-25 {padding-top: 25px; }
.pt-30 {padding-top: 30px; }
.pt-35 {padding-top: 35px; }
.pt-40 {padding-top: 40px; }
.pt-45 {padding-top: 45px; }
.pt-50 {padding-top: 50px; }
.pt-55 {padding-top: 55px; }
.pt-60 {padding-top: 60px; }
.pt-65 {padding-top: 65px; }
.pt-70 {padding-top: 70px; }
.pt-75 {padding-top: 75px; }
.pt-80 {padding-top: 80px; }


/*-- Padding Bottom --*/
.pb-6 {padding-bottom: 6px; }
.pb-10 {padding-bottom: 10px; }
.pb-15 {padding-bottom: 15px; }
.pb-20 {padding-bottom: 20px; }
.pb-25 {padding-bottom: 25px; }
.pb-30 {padding-bottom: 30px; }
.pb-35 {padding-bottom: 35px; }
.pb-40 {padding-bottom: 40px; }
.pb-45 {padding-bottom: 45px; }
.pb-50 {padding-bottom: 50px; }
.pb-55 {padding-bottom: 55px; }
.pb-60 {padding-bottom: 60px; }
.pb-65 {padding-bottom: 65px; }
.pb-70 {padding-bottom: 70px; }
.pb-75 {padding-bottom: 75px; }
.pb-80 {padding-bottom: 80px; }


/*-- Padding Left --*/
.pl-5 {padding-left: 5px; }
.pl-10 {padding-left: 10px; }
.pl-15 {padding-left: 15px; }
.pl-20 {padding-left: 20px; }
.pl-25 {padding-left: 25px; }
.pl-30 {padding-left: 30px; }
.pl-35 {padding-left: 35px; }
.pl-40 {padding-left: 40px; }
.pl-45 {padding-left: 45px; }
.pl-50 {padding-left: 50px; }
.pl-55 {padding-left: 55px; }
.pl-60 {padding-left: 60px; }
.pl-65 {padding-left: 65px; }
.pl-70 {padding-left: 70px; }
.pl-75 {padding-left: 75px; }
.pl-80 {padding-left: 80px; }


/*-- Padding Right --*/
.pr-5 {padding-right: 5px; }
.pr-10 {padding-right: 10px; }
.pr-15 {padding-right: 15px; }
.pr-20 {padding-right: 20px; }
.pr-25 {padding-right: 25px; }
.pr-30 {padding-right: 30px; }
.pr-35 {padding-right: 35px; }
.pr-40 {padding-right: 40px; }
.pr-45 {padding-right: 45px; }
.pr-50 {padding-right: 50px; }
.pr-55 {padding-right: 55px; }
.pr-60 {padding-right: 60px; }
.pr-65 {padding-right: 65px; }
.pr-70 {padding-right: 70px; }
.pr-75 {padding-right: 75px; }
.pr-80 {padding-right: 80px; }


/*-- - Input Placeholder -----------------------------------------*/
input:-moz-placeholder, textarea:-moz-placeholder {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
input::-moz-placeholder, textarea::-moz-placeholder {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

/*-- - Button Style ------------------------------------------*/
.btn {background-color: #191919;border: 2px solid #191919;color: #ffffff;line-height: 30px;padding: 6px 30px;border-radius: 0;font-family: "Montserrat", sans-serif;font-weight: 600;font-size: 14px;-webkit-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;position: relative;}
.btn:focus {outline: none;-webkit-box-shadow: none;box-shadow: none; }

/* Footer Start */
/* left*/
.fd-footer {
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,237,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(236,236,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(236,236,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
.fd-footer-right {font-size:24px; font-weight: 400; color: #a12d4a;}
.fd-footer-right span {font-size: 12px; font-weight: 300; width: 100%; display: block;}
/*right*/
.social li a{background-image: url(../images/soc.png); background-repeat: no-repeat; display: inline-block;}
.social .fb {background-position: -8px -3px;width: 50px;height: 50px;}
.social .tw {background-position: -76px -1px;width: 50px;height: 50px;}
.social .ig {background-position: -143px -2px;width: 50px;height: 50px;}
.social .fb:hover {background-position: -8px -56px;}
.social .tw:hover {background-position: -76px -55px;}
.social .ig:hover {background-position: -142px -55px;}

@media (max-width: 575px) {
    .fd-footer .fd-footer-right,
    .fd-footer .social {text-align: center; padding: 10px 0;}
}
/* Footer And */

/** get started Start **/

.fd-get-start {z-index: 1;
background: rgb(136,17,64); /* Old browsers */
background: -moz-linear-gradient(left, rgba(136,17,64,1) 0%, rgba(173,57,79,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(136,17,64,1) 0%,rgba(173,57,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(136,17,64,1) 0%,rgba(173,57,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}
.fd-get-start:after {content: "";  position: absolute; background-color: rgba(0,63,111, 0.5); top: 0; width: 100%; height: 100%; left: 0; z-index: -1}
.fd-get-start-text {font-weight:300; color: #fff; font-size: 50px;}
.fd-get-start-text strong {font-weight:700; }
.fd-get-start-text span {font-weight: 700; font-size: 30px; display: block;}
.fd-get-start .fd-get-btn {background-color: #fff;font-weight: 700;font-size: 40px;min-width: 480px;padding: 10px;border: 0;border-radius: 5px;color: #2f5e82;}
@media (max-width: 1024px) {
    .fd-get-start-text {font-size: 45px;}
    .fd-get-start .fd-get-btn {font-size: 30px; min-width: 380px;}
}
@media (max-width: 767px) {
    .fd-get-start {background-size: 180%;}
    .fd-get-start-text {font-size: 28px;}
    .fd-get-start-text span {font-size: 19px;}
    .fd-get-start .fd-get-btn {font-size: 25px; min-width: 300px;}

}

/** get started And **/

/** support Start **/

.fd-support {position: relative;  z-index: 1;
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(236,236,236,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(236,236,236,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}


.fd-sup-box {width: 100%;display: inline-block;max-width: 360px;background-color: #fff;border-radius: 10px;box-shadow: 0px 0px 30px rgba(0,0,0,0.5);padding:  10px;}
.fd-sup-box .fd-sup-img {overflow: hidden;max-height: 320px;border-radius: 15px 15px 0 0;margin-bottom: 20px;}
.fd-sup-box .fd-sup-img img {max-width: 100%;}
.fd-sup-box .fd-sub-title {font-weight: 600;font-size: 20px;color:  #b54c5f;padding-bottom: 15px;}
.fd-sup-box .fd-sub-text {color:  #717171;font-size: 15px;}

@media (max-width: 1024px) {
    .fd-sup-box .fd-sup-img {max-height: 300px; min-height: 300px;}
}
@media (max-width:767px ) {
    .fd-sup-box {margin-bottom: 10px;}
    .fd-support .fd-flintro-title {font-size: 50px;}
}

/** support And **/

/**  intro Start  **/

.fd-flintro-title {color: #8d193d;font-size: 90px;font-weight: 300;width: 100%;text-align: center;display:  inline-block;position: relative;}
.fd-flintro-title:after{content:"";position: absolute;bottom: 0;width: 120px;height: 7px;left:  0;right:  0;margin: 0 auto;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,dfa5ab+20,dfa5ab+80,ffffff+100 */background: rgb(255,255,255); /* Old browsers */background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(223,165,171,1) 20%, rgba(223,165,171,1) 80%, rgba(255,255,255,0) 100%); /* FF3.6-15 */background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(223,165,171,1) 20%,rgba(223,165,171,1) 80%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(223,165,171,1) 20%,rgba(223,165,171,1) 80%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ /* IE6-9 */}
.fd-flintr-box {width: 100%;}
.fd-flintr-box .icon {width: 110px;display: inline-block;vertical-align: top;height: 110px;margin-right: 20px;}
.fd-flintr-box .flintro-info {width: calc(100% - 160px);display: inline-block;vertical-align: top;}
.fd-flintr-box .flintro-info .title {width: 100%;font-weight: 500;font-size: 25px;color: #fd8553;}
.fd-flintr-box .flintro-info .list {width: 100%;font-size: 18px;font-weight: 500;color: #fd8553;}
.fd-flintr-box .flintro-info .list li {padding-bottom: 6px;}
.user {background-position: -22px -149px;}
.prefor {background-position: -183px -152px;}
.data-man {background-position: -19px -359px;}
.data-inte {background-position: -188px -359px;}
.fd-flintr-box.right {}
.fd-flintr-box.right .icon {float:  right;}
.fd-flintr-box.right .flintro-info {text-align: right;}
.fd-mob-img img {max-width: 100%;}
@media (max-width: 900px) {
    .fd-itm-cont {max-width: 100%;flex: 100%; margin-bottom: 40px}
    .fd-flintr-box.right .icon {float:  left;}
    .fd-flintr-box.right .flintro-info {text-align: left;}
    /*.fd-mob-img img {display: none;}*/
    .fd-flintro-title {font-size: 50px;}
}
/**  intro And  **/

/** slider Start  **/
.fd-slider { z-index: 1;}
.fd-slider .carousel-caption {text-align: initial;bottom: 0%;margin: 0 auto;color: #e8f5fb;left:  0;right: 0;}
.fd-slider .carousel-caption h3 {font-weight: 900;font-size: 80px;color: #e8f5fb;line-height: 80px;}
.fd-slider .carousel-caption p {font-weight: 400;font-size: 53px;line-height:  initial;margin-bottom: 20px;}
.carousel-caption {width: 100%; max-width: 1170px; left: auto; right: auto;}
.fd-slider .fd-text-part {width: 100%;max-width: 48%;display:  inline-block;vertical-align:  bottom;position: absolute;bottom: 30%;}
.fd-slider .fd-mob-img {display: inline-flex;flex-basis: auto;float:  right;}
.fd-slider .carousel-caption span {font-weight: 300; font-size: 29px;}

@media (max-width: 1024px) {
    .fd-slider .carousel-caption {padding: 0 10px;}
    .fd-slider .fd-text-part {max-width: 0%;}
    .fd-slid-img {margin-left: -30%;}
    .fd-slider .fd-mob-img {text-align: center; float: none; display: inherit;}
}
@media (max-width: 800px) {
    .fd-slider .fd-text-part {max-width:100%;position: relative;bottom: 0;}
    .fd-slid-img {margin-left: -50%;}

}
@media (max-width: 767px) {
    .fd-slider .carousel-caption h3 {font-size: 50px;}
    .fd-slider .carousel-caption p {font-size: 30px;}
    .fd-slider .carousel-caption span {font-size: 16px;}
    .fd-slider .fd-buttons img {width: 200px; margin-bottom: 20px;}
    .fd-slider .fd-buttons {text-align: center;}
    .fd-slider .carousel-caption {top: 20%;}
    .fd-slid-img {margin-left: -53%;}
}
/** slider And  **/

/** header Start **/

.fd-header {background-color: transparent;border-bottom: solid 1px #fff;position: fixed;top: 0;z-index:  2;width: 100%;}
.fd-header .navbar {padding: 0px; margin: 0px;}
.fd-header .navbar-brand {padding: 0px; margin: 0px 40px 0 0;}
.navbar-light .navbar-nav .nav-link {color: #fff;font-weight: 500;font-size: 14px;line-height: 40px;}
.navbar-light .navbar-nav .nav-item.active .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {color: #fff;border-bottom: solid 1px #ffff;}
.navbar-light .navbar-toggler-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(225, 225, 225, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-light .navbar-toggler {border-color: #fff;}
.fd-hed-right {width: auto;}
.fd-hed-right li {width: auto;display: inline-block;  margin-left: 10px;}
.fd-hed-right li a {color: #fff; font-weight: 400; font-size: 14px;}
.fd-hed-right li i.sign {background-position:-31px -16px;width: 24px;height: 25px;vertical-align:  middle;margin-right: 8px;}
.fd-hed-right li i.log {background-position:-26px -61px;width: 24px;height: 25px;vertical-align:  middle;margin-right: 8px;}
.fd-hed-right li a.getstart {font-weight: 700;background-color: #00c5ff;color: #003f6f;padding: 5px 10px;border-radius: 5px;min-width: 160px;text-align: center;}
@media (max-width: 1024px) {
    .fd-header .container {max-width: 100%;}
}
@media (max-width: 991px){
    .fd-header .navbar {width: 100%;}
    .fd-hed-right {width: auto;position: absolute;left: 100%;margin-left: -460px;}
    .navbar-toggler + div#navbarSupportedContent {background-color: #fff;top: 50px;position: absolute;right: 0;width: 250px;padding: 10px;}
    .navbar-light .navbar-toggler {position: absolute; right: 0;top: 0;}
    .navbar-light .navbar-nav .nav-link {color: #000;}
    .navbar-light .navbar-nav .nav-item.active .nav-link:hover, .navbar-light .navbar-nav .nav-item .nav-link:hover, .navbar-light .navbar-nav .nav-item.active .nav-link {color: #000;border-bottom: solid 1px #a2a0a0;}
}
@media (max-width: 680px){
    .fd-hed-right {width: auto;position: relative;left: 0;margin-left: 0;}
    .fd-hed-right li a.getstart {min-width: 130px;}
}
/** header And **/


.fd-offr-box {width: 100%;max-width: 352px;background-color: #fff;border: solid 1px #ccc;margin: 10px auto;box-shadow: 0px 0px 20px rgba(0,0,0,0.2);}
.fd-offr-box .fd-top-part {background-image: url(../images/mem-top-bg.png);width: 100%;background-position: left top;background-repeat: no-repeat;min-height: 139px;padding: 30px 15px;}
.fd-offr-box .fd-top-part .left {width: 70%;display:  inline-block;font-weight: 400;font-size: 19px;color:  #fff;line-height: 21px;}
.fd-offr-box .fd-top-part .left span {font-size:  14px;font-weight: 300;color:  #cccccc;}
.fd-offr-box .fd-top-part .left .popu {font-size:  14px;font-weight: 300;background-color: #fd8553;display: inline-block;color:  #fff;padding: 2px 5px;border-radius:  5px;}
.fd-offr-box .fd-top-part .right {width: 25%;display:  inline-block;font-weight: 400;font-size: 19px;color: #fff;line-height: 21px;text-align:right;vertical-align:  top;}
.fd-offr-box .fd-top-part .right span {font-size:  14px;font-weight: 300;color:  #cccccc;}
.fd-offr-box .fd-bot-part {width: 100%; padding:15px;}
.fd-offr-box .fd-bot-part ul li {color: #929292;font-size: 17px;font-weight: 300;display:  inline-block;width: 100%;margin-bottom: 10px;}
.fd-offr-box .fd-bot-part ul li span {margin-right: 15px;display: inline-block;min-height: 45px;float:  left;}
.fd-slg .text-center {max-width: 900px; width: 100%; margin: 0 auto;}
.fd-slg .fd-get-start-text {font-weight: 300; font-style: italic;}
.fd-slg .fd-slg-nam {color: #fff; font-size: 50px;}
.carousel-indicators li {width: 25px;height: 25px;border-radius: 14px;border: solid 1px #a6324c;}
.carousel-indicators li.active {background-color: #8cd904;border-color: #8cd904;}
.fd-premium {transform: translateY(-30px);}
@media (max-width: 900px){
    .fd-slg .text-center {padding: 0 20px;}
     .fd-slg .fd-slg-nam {font-size: 30px;}
}
@media (max-width: 767px){
    .fd-premium {transform: translateY(0px);}
}

/*** vido start ***/

.fd-video {background-image: url(../images/vid-bg.png); background-size:cover;}
.fd-video .fd-vid-text {color: #fff; text-align: center; font-weight: 500; font-size: 34px;}
.fd-video .fd-vid-man {width: 100%; max-width: 1200px; margin: 0 auto; border: solid 2px #fff; border-radius: 20px;}
.fd-video .fd-flintro-title {color: #fff; font-weight: 500;}
@media (max-width: 900px){
    .fd-video .fd-flintro-title {font-size: 50px;}
}
/*** vido and ***/
